.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px 10px;
  border: 5px dotted white;
  width: 150px;
  height: 200px;
  position: relative;
}

.number {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  color: blueviolet;
}

.suit {
  margin: 0;
  color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.Spades {
  background-color: black;
  p {
    color: white;
  }
}

div.Clubs {
  background-color: black;
  p {
    color: white;
  }
}

div.Hearts {
  background-color: red;
  p {
    color: white;
  }
}

div.Diamonds {
    background-color: red;
  p {
    color: white;
  }
}

div.none {
  display: none;
}

div.stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  height: 220px;
}

div.cardBack {
  background: rgb(0,0,0);
  background: linear-gradient(132deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 50%);
  border: 5px solid blue;
  padding: 5px 10px;
  position: absolute;
  top: 0%;
  .Spades {
    top: -2%;
    left: 0.7%;
  }
}